<form method="POST" action="/">
<h1>Enter a New Production Company</h1>

<!-- Template for creating input form for a string object key called stringMember-->
    <label for="name">Production Company Name</label>
    <input type="text" name="name"/>

    <label for="revenue">Revenue</label>
    <input type="number"  name="revenue"/>

    <label for="amusementPark">Amusement Park</label>
    <input type="checkbox"  name="amusementPark" value="true"/>

    <input type="submit" value="Create Production Company" />
</form>

