<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<form method="POST" action="/movies">
<h1>Enter A Franchise</h1>

<!-- Template for creating input form for a string object key called stringMember-->
    <label for="nameOfMovie">Movie Name</label>
    <input type="text" name="nameOfMovie" required/>

    <label for="numberInFranchise">Number in Movie Franchise</label>
    <input type="number"  name="numberInFranchise" required/>

    <label for="releaseDate">Release Date</label>
    <input type="date"  name="releaseDate" required/>

    <input type="submit" value="Add Movie"/>
</form>


