<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div class="formContainerM">
    <h1 class="formH1M">Enter a New Movie</h1>
    <label for="nameOfMovie">Movie Title</label>

    <form method="POST" action="/movies">
        <input class="formInput" type="text" name="nameOfMovie" maxlength="20" placeholder="(Max 20 Characters)"
            required />

        <label for="director">Director</label>
        <input type="text" name="director" maxlength="20" placeholder="(Max 20 Characters)" />

        <label for="movieReview">Movie Review</label>
        <textarea rows="4" cols="50" name="movieReview" type="text" maxlength="20"
            placeholder="(Max 20 Characters)"></textarea>

        <input type="submit" class="formButton" value="ADD" />
    </form>
</div>