<form method="POST" action="/">
<h1>Edit Movies</h1>
<!-- Template for creating input form for a string object key called stringMember-->
    <label for="nameOfMovie">Movie Name</label>
    <input type="text" name="nameOfMovie"/>

    <label for="numberInFranchise">Number in Movie Franchise</label>
    <input type="number"  name="numberInFranchise"/>

    <label for="releaseDate">Release Date</label>
    <input type="date"  name="releaseDate"/>

    <input type="submit" value="Add Movie" />
</form>