<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a class="navBarMenu" href="/books">Books</a></li>
        <li class="menu">
            <a class="navBarMenu" href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a class="navBarMenu" href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div class="mainContainer">
    <ul class="listDisplay">
        <div class="addListContainerT">
            <a href="/tvShows/add">
                <p class="uxFont">Add A New Book</p>
                <div class="addTvShowsContainer">
                    <!-- image sourced from https://www.iconfinder.com/icons/372917/add_full_more_plus_round_icon -->
                    <img class="addImage" src="/images/add.png" alt="Add List Item Button">
                </div>
            </a>
        </div>
        {{#each allTvShows}}
        <div class="listContainerT">
            <div class="tvShowsContainer">
                <img class="imageCard" src="/images/tv.png" alt="TV Image">
                <div class="allInfo">
                    <h3 class="uxFont tvTitle">{{nameOfTvShow}}</h3>
                    <article class="stats">
                        <ul class="statsList">
                            <li class="uxFont">Author: {{network}}</li>
                            <li class="uxFont">Review: {{tvShowReview}}</li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="buttonContainerForMe">
                <div class="buttondiv">
                    <a href="/tvShows/{{_id}}" class="button">EDIT</a>
                </div>
            </div>
        </div>
        {{/each}}
    </ul>
</div>