<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div class="formContainerT">
    <h1 class="uxFont formH1T">Enter a New TV Show</h1>
    <label class="uxFont" for="nameOfTvShow">TV Show Title</label>

    <form method="POST" action="/tvShows">
        <input class="formInput" type="text" name="nameOfTvShow" maxlength="20" placeholder="(Max 20 Characters)" required />

        <label class="uxFont" for="network">Network</label>
        <input type="text" name="network" maxlength="20" placeholder="(Max 20 Characters)" />

        <label class="uxFont" for="tvShowReview">Tv Show Review</label>
        <textarea rows="4" cols="50" name="tvShowReview" type="text" maxlength="20"
            placeholder="(Max 20 Characters)"></textarea>

        <input type="submit" class="formButton" value="ADD" />
    </form>
</div>