{{!-- <form method="POST" action="/series">
<h1>Edit Production Companies</h1>
<!-- Template for creating input form for a string object key called stringMember-->
    <label for="franchiseName">Franchise Name</label>
    <input type="text" name="franchiseName" required/>

    <label for="numberOfMovies">Number of Movies in Franchise</label>
    <input type="number"  name="numberOfMovies" required/>

    <label for="totalRevenue">Total Revenue</label>
    <input type="number"  name="totalRevenue" required/>

    <label for="totalBudget">Total Budget</label>
    <input type="number"  name="totalBudget" required/>

    <input type="submit" value="Edit Franchise" />
</form> --}}