<h1>All Production Companies</h1>

<a href="/add">New Production Company</a>

<ul>
    {{!-- this will create an li for EACH item --}}
    {{#each allSeries}}
    <li>
        {{!-- print out name of production company you are looking for  --}}
        <a href="/{{_id}}">{{franchiseName}}</a>  

    </li>
    {{/each}}
</ul>