<form method="POST" action="/">
<h1>Edit Production Companies</h1>
<!-- Template for creating input form for a string object key called stringMember-->
    <label for="franchiseName">Franchise Name</label>
    <input type="text" name="franchiseName"/>

    <label for="numberInFranchise">Number In Franchise</label>
    <input type="number"  name="numberInFranchise"/>

    <label for="totalRevenue">Total Revenue</label>
    <input type="number"  name="totalRevenue"/>

    <label for="totalBudget">Total Budget</label>
    <input type="number"  name="totalBudget"/>

    <input type="submit" value="Edit Franchise" />
</form>