<div class="imageContainer">
    {{!-- <div class="image1">
        <a href="/books">Books</a>
    </div>
    <div class="image2">
        <a href="/movies">Movies</a>
    </div>
    <div class="image3">
        <a href="/tvShows">TV Shows</a>
    </div> --}}
</div>


<a href="/books" target="_blank" class="image1">
    <!-- image sourced from https://www.iconfinder.com/icons/1242984/book_stack_bookmark_books_knowledge_reading_icon -->
    <img class="hpImage" src="/images/books.png" alt="Book with bookmark" style="width:200px;height:200px">
</a>

<a href="/movies" target="_blank" class="image2">
    <!-- image sourced from https://www.iconfinder.com/search/?q=tv&from=homepage -->
    <img class="hpImage" src="/images/movies.png" alt="Movie film" style="width:200px;height:200px">
</a>

<a href="/tvShows" target="_blank" class="image3">
    <!-- image sourced from https://www.iconfinder.com/search/?q=movies&from=homepage -->
    <img class="hpImage" src="/images/tv.png" alt="Television set with antannae" style="width:200px;height:200px">
</a>