<div class="imageContainer">
    <div class="column column1">
        <div class="hpTitle">
            My Book List
        </div>
        <a href="/books" class="imageB">
            <!-- image sourced from https://www.iconfinder.com/icons/1242984/book_stack_bookmark_books_knowledge_reading_icon -->
            <img class="hpImage" src="/images/books.jpg" alt="Book with bookmark">
        </a>
    </div>
    <div class="column column2">
        <div class="hpTitle">
            My Movie List
        </div>
        <a href="/movies" class="imageM">
            <!-- image sourced from https://www.iconfinder.com/search/?q=tv&from=homepage -->
            <img class="hpImage" src="/images/movies.png" alt="Movie film">
        </a>
    </div>
    <div class="column column3">
        <div class="hpTitle">
            My TV List
        </div>
        <a href="/tvShows" class="imageT">
            <!-- image sourced from https://www.iconfinder.com/search/?q=movies&from=homepage -->
            <img class="hpImage" src="/images/tv.png" alt="Television set with antannae">
        </a>
    </div>
</div>