body {
    height: 98.5vh;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.topHeader {
    display: flex;
    justify-content: space-around;
    padding:20px 0;
    background-color: black;
    color: white;
}

.navBar {
    margin: 0;
}

.navBarMenu:visited {
    color: white;
}

.menu {
    list-style-type: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.menu:hover {
    text-shadow: 4px 4px 10px rgb(255, 167, 4), -4px 4px 10px rgb(255, 167, 4), 4px -4px 10px rgb(255, 167, 4), -4px -4px 10px rgb(255, 167, 4);
    transform: scale(1.2);
}

.menu:visited {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.statsList {
    list-style-type: none;
    padding: 0 0 0 5px;
}

a:hover>div {
    transform: scale(1.5);
    transition: .2s
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 20px 57px 20px 0;
}

.footer {
    margin-right: 57px;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin: 0 0 0 57px;
    font-size: 60px;
    color: rgb(214, 140, 3);
    padding: 10px;
    transition: .2s;
}

h1:hover {
    transition: .2s;
    background-color: black;
    border-radius: 50%;
}

h1:visited {
    color: rgb(214, 140, 3);
}
.imageContainer {
    display: flex;
    justify-content: space-around;
    height: calc(100% - 135px);
    margin: 0 2%;
}
.hpImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: .2s;
    margin-top: -100px;
}

.hpImage:hover {
    box-shadow: 5px 5px 5px whitesmoke, -5px -5px 5px whitesmoke, 5px -5px 5px whitesmoke, -5px 5px 5px whitesmoke;
    transform: scale(1.5);
    transition: .2s
}

.column1 {
    background-color: #8f0000;
    box-shadow: 5px 5px 10px gray;
}

.column2 {
    background-color: #008f8f;
    box-shadow: 5px 5px 10px gray;
}

.column3 {
    background-color: #dbbb03;
    box-shadow: 5px 5px 10px gray;
}

.hpTitle {
    font-size: 40px;
    text-align: left;
}

.hpTitle:hover {
    box-shadow: none;
    transform: none;
}
.column {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
}

.listContainerB {
    border: solid black 1px;
    height: 400px;
    width: 250px;
    background-color: #8f0000;
    border-radius: 5px;
    margin: 20px 70px;
    box-shadow: 5px 5px 10px gray;
}

.listContainerM {
    border: solid black 1px;
    height: 400px;
    width: 250px;
    background-color: #008f8f;
    border-radius: 5px;
    margin: 20px 70px;
    box-shadow: 5px 5px 10px gray;
}

.imageCard {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

.booksContainer {
    padding: 10px;
    margin: 10px 15px;
    position: absolute;
    z-index: 0;
}

.moviesContainer {
    padding: 10px;
    margin: 10px 15px;
    position: absolute;
    z-index: 0;
}

.listDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.addListContainerB {
    border: solid black 1px;
    height: 400px;
    width: 250px;
    background-color: #8f0000;
    border-radius: 5px;
    margin: 20px 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px gray;
    transition: .2s;
}

.addListContainerM {
    border: solid black 1px;
    height: 400px;
    width: 250px;
    background-color: #008f8f;
    border-radius: 5px;
    margin: 20px 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px gray;
    transition: .2s;
}

.addImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 50px 70px;
    transition: .2s;
}

.addBooksContainer {
    padding: 10px;
    margin: 50px 0px;
}

.addMoviesContainer {
    padding: 10px;
    margin: 50px 0px;
}

p {
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: white;
}

.button {
    padding: 10px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-top: 325px;
    position: absolute;
    z-index: 10000000;
    transition: .2s;
}

.button:hover {
    color: whitesmoke;
    background-color: rgb(61, 60, 60);
    transition: .2s;
}

.formButton {
    padding: 5px 30px 30px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 35%;
    margin-top: 20px;
    font-size: 16pt;
    transition: .2s;
}

.formButton:hover {
    color: whitesmoke;
    background-color: rgb(61, 60, 60);
    transition: .2s;
}

.otherEditButton {
    padding: 5px 30px 30px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 35%;
    margin-top: 20px;
    font-size: 16pt;
    transition: .2s;
}

.deleteButton {
    padding: 5px 30px 30px 30px;
    color: whitesmoke;
    background-color: rgb(61, 60, 60);;
    border-radius: 5px;
    width: 35%;
    margin-top: 20px;
    font-size: 16pt;
    transition: .2s;
    border: none;
}

.formContainerB {
    display: flex;
    flex-flow: column;
    height: 60vh;
    width: 30vw;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border: solid black;
    margin: 0px auto;
    padding: 40px 20px;
    background-color: #8f0000;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

.formContainerM {
    display: flex;
    flex-flow: column;
    height: 60vh;
    width: 30vw;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border: solid black;
    margin: 0px auto;
    padding: 40px 20px;
    background-color: #008f8f;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

input {
    height: 30px;
    font-size: 25px;
    border-radius: 5px;
    width: 80%;
}

textarea {
    width: 80%;
    font-size: 25px;
    border-radius: 5px;
}

label {
    margin: 10px 0;
    font-size: 30px
}

.formH1B {
    margin: 20px 0;
    font-size: 30px;
}

.formH1B:hover {
    text-shadow: none;
    box-shadow: none;
    background-color: #8f0000;
}

.formH1M {
    margin: 20px 0;
    font-size: 30px;
}

.formH1M:hover {
    text-shadow: none;
    box-shadow: none;
    background-color: #008f8f;
}

.addBookButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: gray;
    box-shadow: 0 5px white;
    border-radius: 5px;
    font-size: 20px;
}

.buttondiv:hover {
    background-color: rgb(61, 60, 60);
}

.buttondiv:active {
  background-color: rgb(61, 60, 60);
  box-shadow: 0 2px gray;
  transform: translateY(3px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    color: white;
}

h3 {
    color: white;
    margin-bottom: 10px;
}

.buttondiv {
    width: 50px;
}

.buttonContainerForMe {
    display: flex;
    justify-content: flex-end;
    margin-right: 65px;
    margin-top: 20px;
}