<div>
    <form action="/{{productionCoFromDb._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Issue" />
    </form>
    <form action="/{{productionCoFromDb._id}}?_method=PUT" method="POST">

        <input type="submit" value="Edit Production Company" required/>

        <label for="name">Production Company Name</label>
        <input type="text" name="name" value="{{productionCoFromDb.name}}" required/>

        <label for="revenue">Revenue</label>
        <input type="number" name="revenue" value="{{productionCoFromDb.revenue}}" required/>

        <label for="amusementPark">Amusement Park</label>
        <select name="amusementPark">
            <option value="yes">Yes</option>
            <option value="no" selected>No</option>
        </select>
    </form>
</div>
<a href="/:productionCoId/series/add/">Add a Franchise</a>