<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<h4>My Books</h4>

<div class="mainContainer">
    <ul class="listDisplay">
        <div class="addListContainer">
            <a href="/books/add">
                <p>Add Book</p>
                <div class="addBooksContainer">
                    <!-- image sourced from https://www.iconfinder.com/icons/372917/add_full_more_plus_round_icon -->
                    <img class="addImage" src="/images/add.png" alt="Add List Item Button">
                </div>
            </a>
        </div>
        {{#each allBooks}}
        <div class="listContainer">
            <div class="booksContainer">
                <img class="imageCard" src="/images/books.jpg" alt="Book Image">
                <div class="allInfo">
                    <h3 class="bookTitle">{{name}}</h3>
                    <article class="stats">
                        <ul>
                            <li>Author: {{author}}</li>
                            <li>Review: {{review}}</li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="buttonContainerForMe">
                <div class="buttondiv">
                    <a href="/books/{{_id}}" class="editButton">Edit</a>
                </div>
            </div>
        </div>
        {{/each}}
    </ul>
</div>