<h1>All Books</h1>

<a href="/books/add">New Book</a>

<ul>
    {{!-- this will create an li for EACH item --}}
    {{#each allBooks}}
    <li>
        {{!-- print out name of production company you are looking for  --}}
        <a href="/books/{{_id}}">{{name}}</a>
        <ul>
            <li>Total Revenue: ${{revenue}}.00</li>
            <li>Amusement Park: {{amusementPark}}</li>
        </ul>
    </li>
    {{/each}}
</ul>