<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>


<h1>Enter a New Book</h1>
<div class="formContainer">
    <label for="name">Book Title</label>
    <form method="POST" action="/books"></form>
    <input type="text" name="name" required />

    <label for="revenue">Revenue</label>
    <input type="number" name="revenue" required />

    <label for="amusementPark">Amusement Park</label>
    <select name="amusementPark">
        <option value="yes">Yes</option>
        <option value="no" selected>No</option>
    </select>

    <input type="submit" value="Create Book" />
    </form>
</div>