<div class="navBar">
    <ul class="topHeader">
        <li class="menu">
            <a href="/books">Books</a></li>
        <li class="menu">
            <a href="/movies">Movies</a></li>
        </li>
        <li class="menu">
            <a href="/tvShows">TV Shows</a></li>
    </ul>
</div>

<div class="formContainer">
    <h1 class="nameOfBook formH1">Enter a New Book</h1>
    <label for="name">Book Title</label>

    <form method="POST" action="/books">
        <input class="formInput" type="text" name="name" required />

        <label for="author">Author</label>
        <input type="text" name="author" required />

        <label for="review">Review</label>
        <textarea rows="4" cols="50" name="review" type="text" maxlength="30" placeholder="Enter review here..."></textarea>

        <input type="submit" class="addBookButton" value="Create Book" />
    </form>
</div>